<h1>Create a Song</h1>
<form action="/songs" method="POST">
<input name="song[name]" placeholder="Song Name">
<input name="song">
<%# TO DO add artist (dropdown)
genre (dropdown) %>
<input type="submit">
</form>